@model ketnoicungcau.vn.ViewModels.vmProductDetail

<div class="info-hasimg clearfix">
    <div class="img">
        @if (Model.Product.Images != null && Model.Product.Images.Any())
        { 
            <img src="@Model.Product.Images.FirstOrDefault().Image" alt="@Model.Product.Productname">
        }
        else
        {
            <img src="@Model.Product.Company.Logosrc" alt="@Model.Product.Company.Companyname">
        }
    </div>
    <div class="content">
        @if (string.IsNullOrEmpty(Model.Product.Productname) == false) {
        <h2 class="info-name">
            Cần tìm đối tác cung cấp: @Model.Product.Productname
            <partial name="~/Views/Product/Partial/_WishButton.cshtml" model=@Model />
        </h2>
        }
        @if (string.IsNullOrEmpty(Model.Product.Company.Companyname) == false) {
            <p class="info-company">@Model.Product.Company.Companyname</p>
        }
        <ul class="listinfo">
            @if (string.IsNullOrEmpty(Model.StringProductStandard) == false) {
              <li>
                <p class="txtl">
                    <i class="icon-info"></i>
                    Tiêu chuẩn:
                </p>
                <p class="txtr">@Model.StringProductStandard</p>
              </li>
            }
            @*@if (string.IsNullOrEmpty(Model.StringSpecialties) == false) {
              <li>
                <p class="txtl">
                    <i class="icon-info"></i>
                    Đặc sản:
                </p>
                <p class="txtr">@Model.StringSpecialties</p>
              </li>
            }*@
            @*@if (string.IsNullOrEmpty(Model.Provincename) == false) {
              <li>
                <p class="txtl">
                    <i class="icon-info"></i>
                    Khu vực:
                </p>
                <p class="txtr">@Model.Provincename</p>
              </li>
            }*@
            @if (string.IsNullOrEmpty(Model.Product.DemandFull) == false) {
              <li>
                <p class="txtl">
                    <i class="icon-info"></i>
                    Số lượng:
                </p>
                <p class="txtr">@Model.Product.DemandFull</p>
              </li>
            }
            @if (string.IsNullOrEmpty(Model.Product.Orderprocedure) == false) {
              <li>
                <p class="txtl">
                    <i class="icon-info"></i>
                    Quy cách đóng gói:
                </p>
                <p class="txtr">@Model.Product.Orderprocedure</p>
              </li>
            }
            @*@if (Model.Product.Begindate != null) {
              <li>
                <p class="txtl">
                    <i class="icon-info"></i>
                    Thời gian mua:
                </p>
                <p class="txtr">@Model.Product.Begindate?.ToString("dd/MM/yyyy")</p>
              </li>
            }*@
            @*@if (string.IsNullOrEmpty(Model.Product.Demand) == false) {
              <li>
                <p class="txtl">
                    <i class="icon-info"></i>
                    Tần suất mua:
                </p>
                <p class="txtr">@Model.Product.Demand</p>
              </li>
            }*@
        </ul>
    </div>
</div>